<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || locals[:title] || "Texas Hospitals Explorer | The Texas Tribune" %></title>
  <!-- Open Graph -->
  <meta property="og:site_name" content="<%= current_page.data.og_site_name || locals[:og_site_name] || "The Texas Tribune"%>">
  <meta property="og:description" content="<%= current_page.data.og_description || locals[:og_description] || "The Texas Tribunes Hospitals Explorer allows you to compare hospitals using data collected and analyzed by the federal Centers for Medicare and Medicare Services." %>">
  <meta property="og:url" content="<%= current_page.data.og_url || locals[:og_url] || "http://hospitals.texastribune.org"%>">
  <meta property="og:image" content="<%= current_page.data.og_image || locals[:og_image] ||"http://hospitals.texastribune.org/img/healthcare-explorer-header.jpg" %>">
  <link href="//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <!-- Apple stuff -->
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_60x60.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_76x76.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_120x120.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_152x152.png"/>
</head>
<body>
  <header class="masthead">
  <div class="container">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="/img/tt-logo-white.png">
      </a>
    </div>
  </div>
  </header>
  <div class="banner">
    <div class="grand-header-image"></div>
    <header class="grand-header content-block">
      <h1><a href="/">Texas Hospitals Explorer</a></h1>
      <p>Find and compare quality of care</p>
    </header>
  </div>
  <section class="container" id="main-container">
    <%= yield %>
  </section>
  <section class="container">
    <div class="content-block content-block-full introduction-section">
      <div class="ad-container banner-ad">Ad space</div>
    </div>
  </section>
  <section class="container">
    <hr class="yellow thin">
    <div class="content-block">
      <div class="about">
        <h3>Contributors</h3>
        <ul>
            <li>
                <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
                <p class="handle">News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:aduner@texastribune.org">Alex Duner</a></strong></p>
                <p class="handle">News Apps Intern | <a href="https://twitter.com/asduner" target="_blank">@asduner</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:bhasson@texastribune.org">Ben Hasson</a></strong></p>
                <p class="handle">Web Designer | <a href="https://twitter.com/been_hussln" target="_blank">@been_hussln</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:amittra@texastribune.org">Ayan Mittra</a></strong></p>
                <p class="handle">Managing Editor | <a href="https://twitter.com/ayanmittra" target="_blank">@ayanmittra</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:rmuphy@texastribune.org">Ryan Murphy</a></strong></p>
                <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:eramshaw@texastribune.org">Emily Ramshaw</a></strong></p>
                <p class="handle">Editor | <a href="https://twitter.com/eramshaw" target="_blank">@eramshaw</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:mvanetta@texastribune.org">Marcos Vanetta</a></strong></p>
                <p class="handle">Knight/Mozilla Fellow | <a href="https://twitter.com/malev" target="_blank">@malev</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:jvillanueva@texastribune.org">Jacob Villanueva</a></strong></p>
                <p class="handle">Art Director | <a href="https://twitter.com/jacovillanueva" target="_blank">@jacovillanueva</a></p>
            </li>
            <li>
                <p><strong><a href="mailto:twiseman@texastribune.org">Todd Wiseman</a></strong></p>
                <p class="handle">Multimedia Producer | <a href="https://twitter.com/wisemeister" target="_blank">@Wisemeister</a></p>
            </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container" id="disclaimer-box">
  <hr class="thin">
    <div class="content-block disclaimer">
      <p>
        The information in the Texas Hospitals Explorer comes from Medicare data compiled and analyzed by the <a href="http://www.cms.gov/">Centers for Medicare and Medicaid Services</a>. The Tribune selected these specific metrics after consulting with Medicare employees, hospital administrators, health care consultants and consumer advocates. For more <a href="http://www.medicare.gov/hospitalcompare/Data/About.html">information</a> on the data, visit <a href="http://www.medicare.gov/hospitalcompare/search.html">Hospital Compare</a> at <a href="http://www.medicare.gov/">Medicare.gov</a>.
      </p>
      <p>
        This application was produced in partnership with Kaiser Health News, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.
      </p>
    </div>
  </section>
  <%= partial "footer" %>
  <script src="<%= current_page.data.js || '/js/main.js' %>"></script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  // s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <%= yield_content :script %>
</body>
</html>
