<header class="main-header content-block">
  <h2>Compare Selected Hospitals</h2>
  <hr>
</header>

<div class="prose content-block">
  <p>Compare the quality of care at the selected hospitals below. Under each tab, you'll find details about the hospitals, such as average wait times for emergency services; clinical care measures, including rates of surgical complications and infections acquired during hospital visits; patient outcomes, including 30-day readmission and death rates; and patient ratings. Some information may not be available because the hospital's sample size was too small, the hospital did not have data to report, or the results were excluded by the <a href="http://www.medicare.gov/hospitalcompare/Data/About.html">Centers for Medicare &amp; Medicaid Services</a> for various reasons, including data inaccuracies or discrepancies in data collection.</p>
</div>
<section class="hospital-cards hospital-boxes row content-block">
  <% _(children).each(function(model, index) { %>
  <div class="hospital-box hospital-box-small">
    <section class="hosp-information">
      <header class="hospital-box-header hospital-box-header-small">
          <h4><a href="<%= model.url %>"><%= model.name %></a></h4>
      </header>
      <section class="information information-small">
        <div class="value"><%= model.type %></div>
        <% if (model.emergency_services === 'Yes') { %>
          <div class="value">Has Emergency Services</div>
        <% } %>
        <div class="value">
          <a href="tel:+1<%= model.phone_number %>"><%= model.phone_number %></a>
        </div>
        <div class="value">
          <address>
            <%= model.address %>
            <br>
            <%= model.city %>, TX <%= model.zipcode %>
            (<a href="<%= linkToMap(model.address, model.city, model.zipcode) %>" target="_blank">map</a>)
          </address>
        </div >
      </section>
    </section>
  </div>
  <% }); %>
</section>

<div class="button-shove content-block">
  <a href="/"><button id="return-to-landing" class="return-to-landing">Return to search</button></a>
</div>

<section class="ac-container">
  <div class="category-wrapper content-block">
    <input id="ac-1" name="accordion-1" type="checkbox" checked />
    <label for="ac-1" class="ac ac-1 ac-hover1 clickable">
      <i class="fa fa-chevron-right"></i>
      <i class="fa fa-chevron-down"></i>
      <h4>Emergency Care</h4>
    </label>
    <article class="ac-large">
      <div class="prose explainer-prose">
        <p>These indicators show how long you could expect to wait in a selected hospital's emergency room before seeing a health care professional, being admitted to the hospital or being sent home. Hospitals report the data from medical records, and the data is audited and verified by the Centers for Medicare &amp; Medicaid Services. Learn more about the data and other measures of timely and effective hospital care at <a href="http://www.medicare.gov/hospitalcompare/Data/Measures.html">Medicare.gov</a>.</p>
      </div>

      <div class="explainer-cards">
      <% _(children).each(function(model, index) { %>
        <div class="explainer-card">
          <header class="explainer-card-header">
            <h5 title="<%= model.name %>"><%= model.name %></h5>
          </header>

          <header class="explainer-table-header only-on-mobile">
            <h6>Average time spent in the emergency room</h6>
          </header>

          <table class="explainer-table">
            <thead>
              <tr>
                <th colspan="2">Average time spent in the emergency room</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Before patients receive a diagnostic exam</td>
                <td><%= minuteOrNA(model.data.emergency_rates.op_20) %></td>
              </tr>
              <tr>
                <td>By patients admitted to the hospital</td>
                <td><%= minuteOrNA(model.data.emergency_rates.ed_1b) %></td>
              </tr>
              <tr>
                <td>By patients discharged and sent home</td>
                <td><%= minuteOrNA(model.data.emergency_rates.op_18b) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper content-block">
    <input id="ac-2" name="accordion-1" type="checkbox" />
    <label for="ac-2" class="ac ac-2 ac-hover2 clickable">
      <i class="fa fa-chevron-right"></i>
      <i class="fa fa-chevron-down"></i>
      <h4>Clinical Care</h4>
    </label>
    <article class="ac-large">
      <div class="prose explainer-prose">
        <p>The quality of a hospital's clinical care practices can affect how often patients experience surgical complications or acquire infections. These indicators show how the hospitals' rates of surgical complications and health care-associated infections compare with national standards. The scores are risk-adjusted and account for characteristics of each hospital's patient population. The serious surgical complications score is a composite of observed-to-expected ratios for a <a href="http://www.qualityindicators.ahrq.gov/Downloads/Modules/PSI/V45/TechSpecs/PSI%2090%20Patient%20Safety%20for%20Selected%20Indicators.pdf">list</a> of common surgical complications determined by the Agency for Healthcare Research and Quality. The number of health care-associated infections is measured by a standardized infection ratio, which shows the number of infections relative to a national benchmark based on data reported to the National Healthcare Safety Network. Find more information on how CMS measures rates of <a href="http://www.medicare.gov/hospitalcompare/Data/Serious-Complications.html">surgical complications</a> and <a href="http://www.medicare.gov/hospitalcompare/Data/Healthcare-Associated-Infections.html">health care-associated infections</a>.</p>
      </div>
      <div class="explainer-cards">
        <% _(children).each(function(model, index) { %>
          <div class="explainer-card">
            <header class="explainer-card-header">
              <h5 title="<%= model.name %>"><%= model.name %></h5>
            </header>

            <header class="explainer-table-header only-on-mobile">
              <h6>Surgical Complications</h6>
            </header>

            <table class="explainer-table">
              <thead>
                <tr>
                  <th colspan="2">Surgical Complications</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Serious surgical complications</td>
                  <td><%= model.data.complications_rates.serious_complications %></td>
                </tr>
                <tr>
                  <td>Deaths among patients with serious, treatable conditions</td>
                  <td><%= model.data.complications_rates.death_from_serious_complications %></td>
                </tr>
              </tbody>
            </table>

            <header class="explainer-table-header only-on-mobile">
              <h6>Health care-associated infections</h6>
            </header>

            <table class="explainer-table">
              <thead>
                <tr>
                  <th colspan="2">Health care-associated infections</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Central-line associated bloodstream infection</td>
                  <td><%= model.data.associated_infections.hai_1_desc %></td>
                </tr>
                <tr>
                  <td>Catheter-associated urinary tract infection</td>
                  <td><%= model.data.associated_infections.hai_2_desc %></td>
                </tr>
                <tr>
                  <td>Surgical site infection from colon surgery</td>
                  <td><%= model.data.associated_infections.hai_3_desc %></td>
                </tr>
                <tr>
                  <td>Surgical site infection from abdominal hysterectomy</td>
                  <td><%= model.data.associated_infections.hai_4_desc %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper content-block">
    <input id="ac-3" name="accordion-1" type="checkbox" />
    <label for="ac-3" class="ac ac-3 ac-hover3 clickable">
      <i class="fa fa-chevron-right"></i>
      <i class="fa fa-chevron-down"></i>
      <h4>Patient Outcomes</h4>
    </label>
    <article class="ac-large">
      <div class="prose explainer-prose">
        <p>These indicators show how often patients who are treated for serious, common conditions return to the hospital within 30 days or died. The Centers for Medicare &amp; Medicaid Services calculates the rates using Medicare claims submitted by hospitals and patient-eligibility information. The rates are risk-adjusted and take into account characteristics of each patient — like age, medical history, and other diseases or conditions the patient had before entering the hospital — that could make readmission or death more likely regardless of the quality of care delivered by the hospital. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/30-day-measures.html">Medicare.gov</a>.</p>
      </div>
      <div class="explainer-cards">
        <% _(children).each(function(model, index) { %>
        <div class="explainer-card">

          <header class="explainer-card-header">
            <h5 title="<%= model.name %>"><%= model.name %></h5>
          </header>

          <header class="explainer-table-header only-on-mobile">
            <h6>Rates of 30-day unplanned readmission</h6>
          </header>

          <table class="explainer-table">
            <thead>
              <tr>
                <th colspan="2">Rates of 30-day unplanned readmission</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>For all patients discharged from the hospital</td>
                <td><%= percentOrNA(model.data.outcomes.readm_30_hosp_wide) %></td>
              </tr>
              <tr>
                <td>For heart attack patients</td>
                <td><%= percentOrNA(model.data.outcomes.readm_30_ha) %></td>
              </tr>
              <tr>
                <td>For heart failure patients</td>
                <td><%= percentOrNA(model.data.outcomes.readm_30_hf) %></td>
              </tr>
              <tr>
                <td>For pneumonia patients</td>
                <td><%= percentOrNA(model.data.outcomes.readm_30_pn) %></td>
              </tr>
            </tbody>
          </table>

          <header class="explainer-table-header only-on-mobile">
            <h6>Rates of death within 30 days of discharge</h6>
          </header>

          <table class="explainer-table">
            <thead>
              <tr>
                <th colspan="2">Rates of death within 30 days of discharge</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>For heart attack patients</td>
                <td><%= percentOrNA(model.data.outcomes.mort_30_ami) %></td>
              </tr>
              <tr>
                <td>For heart failure patients</td>
                <td><%= percentOrNA(model.data.outcomes.mort_30_hf) %></td>
              </tr>
              <tr>
                <td>For pneumonia patients</td>
                <td><%= percentOrNA(model.data.outcomes.mort_30_pn) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper content-block">
    <input id="ac-4" name="accordion-1" type="checkbox" />
    <label for="ac-4" class="ac ac-4 ac-hover4 clickable">
      <i class="fa fa-chevron-right"></i>
      <i class="fa fa-chevron-down"></i>
      <h4>Patient Experience</h4>
    </label>
    <article class="ac-large">
      <div class="prose explainer-prose">
        <p>These indicators show how patients felt about their hospital experience, including how well hospital workers communicated with them and whether they would recommend the hospital. This data comes from a standardized survey created by the Centers for Medicare &amp; Medicaid Services and the Agency for Healthcare Research and Quality. The survey has been used since 2006 to help consumers compare the quality of care between hospitals. The surveys are taken by trained administrators at participating hospitals, analyzed and adjusted by CMS to account for differences in hospitals' patient mix and other factors. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/Overview.html">Medicare.gov</a>.</p>
      </div>
      <div class="explainer-cards">
        <% _(children).each(function(model, index) { %>
        <div class="explainer-card">
          <header class="explainer-card-header">
            <h5 title="<%= model.name %>"><%= model.name %></h5>
          </header>

          <header class="explainer-table-header only-on-mobile">
            <h6>Percent of patients surveyed who...</h6>
          </header>

          <table class="explainer-table">
            <thead>
              <tr>
                <th colspan="2">Percent of patients surveyed who...</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gave the hospital a score of "9" or "10" on a scale from 0 (low) to 10 (high)</td>
                <td><%= percentOrNA(model.data.quality.h_hsp_rating_9_10) %></td>
              </tr>
              <tr>
                <td>Would definitely recommend the hospital</td>
                <td><%= percentOrNA(model.data.quality.h_recmnd_dy) %></td>
              </tr>
              <tr>
                <td>Reported their doctors "always" communicated well</td>
                <td><%= percentOrNA(model.data.quality.h_comp_2_a_p) %></td>
              </tr>
              <tr>
                <td>Reported their nurses "always" communicated well</td>
                <td><%= percentOrNA(model.data.quality.h_comp_1_a_p) %></td>
              </tr>
              <tr>
                <td>Reported they "always" received help as soon as they wanted</td>
                <td><%= percentOrNA(model.data.quality.h_comp_3_a_p) %></td>
              </tr>
              <tr>
                <td>Reported their room and bathroom were "always" clean</td>
                <td><%= percentOrNA(model.data.quality.h_clean_hsp_a_p) %></td>
              </tr>
              <tr>
                <td>Reported the area around their room was "always" quiet at night</td>
                <td><%= percentOrNA(model.data.quality.h_quiet_hsp_a_p) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
</section>
