<header class="select">
  <div class='title'>
    <h2>Compare Hospitals</h2>
    <div class="controls">
      <a href="#" class="button compare">Select Different Hospitals to Compare</a>
    </div>
  </div>
</header>
<section class="ac-container">
  <div class="category-wrapper">
    <input id="ac-1" name="accordion-1" type="checkbox" checked />
    <label for="ac-1"><i class="fa fa-chevron-right">
      </i><i class="fa fa-chevron-down"></i><h3>General Information</h3>
    </label>
    <article class="ac-large">
<!--       <div class="info">
        <p></p>
      </div> -->
      <div class="hosp-card-wrapper">
        <% _(children).each(function(model, index) { %>
        <div class="hosp-card">
            <header class="<%= cycleClass(index) %>">
              <h4 data-provider-id="<%= model._id %>"><%= model.name %></h4>
            </header>
          <div class="card-row">
            <div class="value">
              <p>
                <%= model.address %>
              <br />
                <%= model.city %>, TX <%= model.zipcode %>
              </p>
            </div>
            <div class="value">
              <p>
                <%= model.type %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value">
              <p>
                <a href="tel:+1<%= model.phone_number %>"><%= model.phone_number %></a>
              </p>
            </div>
            <div class="value">
              <p>
                <%= model['hospital ownership'] %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>
                Emergency services?
              </p>
            </div>
            <div class="value">
              <p>
                <%= model.emergency_services %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper">
    <input id="ac-2" name="accordion-1" type="checkbox" />
    <label for="ac-2"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><h3>Emergency Care</h3></label>
    <article class="ac-large">
      <div class="info">
        <p>These indicators show how long you could expect to wait in a selected hospital's emergency room before seeing a health care professional, being admitted to the hospital or being sent home. Hospitals report the data from medical records, and the data is audited and verified by the Centers for Medicare and Medicaid Services. Learn more about the data and other measures of timely and effective hospital care at <a href="http://www.medicare.gov/hospitalcompare/Data/Measures.html">Medicare.gov</a>.</p>
      </div>
      <div class="hosp-card-wrapper">
        <% _(children).each(function(model, index) { %>
        <div class="hosp-card">
          <header class="<%= cycleClass(index) %>">
            <h4 data-provider-id="<%= model._id %>"><%= model.name %></h4>
          </header>
          <div class="card-row sub-header">
            <p><em>Average time spent in the emergency room</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Before patients receive a diagnostic exam</p>
            </div>
            <div class="value">
              <p>
                <%= minuteOrNA(model.data.emergency_rates.op_20) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>By patients admitted to the hospital</p>
            </div>
            <div class="value">
              <p>
                <%= minuteOrNA(model.data.emergency_rates.ed_1b) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>By patients discharged and sent home</p>
            </div>
            <div class="value">
              <p>
                <%= minuteOrNA(model.data.emergency_rates.op_18b) %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper">
    <input id="ac-3" name="accordion-1" type="checkbox" />
    <label for="ac-3"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><h3>Clinical Care</h3></label>
    <article class="ac-large">
      <div class="info">
        <p>The quality of a hospital's clinical care practices can impact how often patients experience surgical complications or acquire infections. These indicators show how the hospitals' rates of surgical complications and health care-associated infections compare with national standards. The scores are risk-adjusted and account for characteristics of each hospital's patient population. The serious surgical complications score is a composite of observed-to-expected ratios for a <a href="http://www.qualityindicators.ahrq.gov/Downloads/Modules/PSI/V45/TechSpecs/PSI%2090%20Patient%20Safety%20for%20Selected%20Indicators.pdf">list</a> of common surgical complications determined by the Agency for Healthcare Research and Quality. The number of health care-associated infections is measured by a standardized infection ratio, which shows the number of infections relative to a national benchmark based on data reported to the National Healthcare Safety Network. Find more information on how CMS measures rates of <a href="http://www.medicare.gov/hospitalcompare/Data/Serious-Complications.html">surgical complications</a>, and <a href="http://www.medicare.gov/hospitalcompare/Data/Healthcare-Associated-Infections.html">health care-associated infections</a>.</p>
      </div>
      <div class="hosp-card-wrapper">
        <% _(children).each(function(model, index) { %>
        <div class="hosp-card">
          <header class="<%= cycleClass(index) %>">
            <h4><%= model.name %></h4>
          </header>
          <div class="card-row sub-header">
            <p><em>Surgical Complications</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Serious surgical complications</p>
            </div>
            <div class="value">
              <p>
                <%= model.data.complications_rates.serious_complications %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Deaths among patients with serious, treatable conditions</p>
            </div>
            <div class="value">
              <p>
                <%= model.data.complications_rates.death_from_serious_complications %>
              </p>
            </div>
          </div>
          <div class="card-row sub-header">
            <p><em>Health care-associated infections</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Central-line associated bloodstream infection</p>
            </div>
            <div class="value">
              <p><%= percentOrNA(model.data.associated_infections.hai_1) %></p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Catheter-associated urinary tract infection</p>
            </div>
            <div class="value">
              <p><%= percentOrNA(model.data.associated_infections.hai_2) %></p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Surgical site infection from colon surgery</p>
            </div>
            <div class="value">
              <p><%= percentOrNA(model.data.associated_infections.hai_3) %></p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Surgical site infection from abdominal hysterectomy</p>
            </div>
            <div class="value">
              <p><%= percentOrNA(model.data.associated_infections.hai_4) %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper">
    <input id="ac-4" name="accordion-1" type="checkbox" />
    <label for="ac-4"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><h3>Patient Outcomes</h3></label>
    <article class="ac-large">
      <div class="info">
        <p>These indicators show how often patients who are treated for serious, common conditions return to the hospital within 30 days or died. The Centers for Medicare and Medicaid Services calculates the rates using Medicare claims submitted by hospitals and patient-eligibility information. The rates are risk-adjusted and take into account characteristics of each patient — like age, medical history, and other diseases or conditions the patient had before entering the hospital — that could make readmission or death more likely regardless of the quality of care delivered by the hospital. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/30-day-measures.html">Medicare.gov</a>.</p>
      </div>
      <div class="hosp-card-wrapper">
        <% _(children).each(function(model, index) { %>
        <div class="hosp-card">
          <header class="<%= cycleClass(index) %>">
            <h4><%= model.name %></h4>
          </header>
          <div class="card-row sub-header">
            <p><em>Rates of 30-day unplanned readmission</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For all patients discharged from the hospital</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.readm_30_hosp_wide) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For heart attack patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.readm_30_ha) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For heart failure patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.readm_30_hf) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For pneumonia patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.readm_30_pn) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For patients after hip/knee surgery</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.readm_30_hip_knee) %>
              </p>
            </div>
          </div>
          <div class="card-row sub-header">
            <p><em>Rates of death within 30-days of discharge</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For heart attack patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.mort_30_ami) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For heart failure patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.mort_30_hf) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>For pneumonia patients</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.outcomes.mort_30_pn) %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
  <div class="category-wrapper">
    <input id="ac-5" name="accordion-1" type="checkbox" />
    <label for="ac-5"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><h3>Patient Experience</h3></label>
    <article class="ac-large">
      <div class="info">
        <p>These indicators show how patients felt about their hospital experience, including how well hospital workers communicated with them and whether they would recommend the hospital. This data comes from a standardized survey created by the Centers for Medicare and Medicaid Services and the Agency for Healthcare Research and Quality. The survey has been used since 2006 to help consumers compare the quality of care between hospitals. The surveys are taken by trained administrators at participating hospitals, analyzed and adjusted by CMS to account for differences in hospitals' patient mix and other factors. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/Overview.html">Medicare.gov</a>.</p>
      </div>
      <div class="hosp-card-wrapper">
        <% _(children).each(function(model, index) { %>
        <div class="hosp-card">
          <header class="<%= cycleClass(index) %>">
            <h4><%= model.name %></h4>
          </header>
          <div class="card-row sub-header">
            <p><em>Percent of patients surveyed who...</em></p>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Gave the hospital a score of "9" or "10" on a scale from 0 (low) to 10 (high)</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_hsp_rating_9_10) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Would definitely recommend the hospital</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_recmnd_dy) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Reported their doctors "always" communicated well</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_comp_2_a_p) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Reported their nurses "always" communicated well</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_comp_1_a_p) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Reported they "always" received help as soon as they wanted</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_comp_3_a_p) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Reported their room and bathroom were "always" clean</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_clean_hsp_a_p) %>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="value-header">
              <p>Reported the area around their room was "always" quiet at night</p>
            </div>
            <div class="value">
              <p>
                <%= percentOrNA(model.data.quality.h_quiet_hsp_a_p) %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </article>
  </div>
</section>
