<td data-title="Name"><a href="/<%= url %>"><%= name %></a></td>
<td data-title="City"><%= city %></td>
<td><a href="/<%= url %>">View data</a></td>
<% if (hasOldUrl) { %>
  <td><a href="/2012/<%= old_url %>">View data</a></td>
<% } else { %>
  <td></td>
<% } %>
