<section class="hosp-information">
  <header>
    <label for="hospital-selector-<%= _id %>" class="hospital-name">
      <input type='checkbox' class='hospital-selector' data-id="<%= _id %>" id="hospital-selector-<%= _id %>">
      <%= name %>
    </label>
  </header>
  <section class="information">
    <% if(showDistance){%><div class="value">
      Distance: <%= distance %> miles
    </div><%}%>
    <div class="value"><%= type %></div>
    <% if (hasEmergencyServices) { %><div class="value-header">
      Has Emergency Services
    </div><% } %>
    <div class="value">
      <a href="tel:+1<%= phone_number %>"><%= phone_number %></a>
    </div>
    <div class="value">
      <address>
        <%= address %>
        <br>
        <%= city %>, TX <%= zipcode %>
        (<a href="<%= linkToMap(address, city, zipcode) %>" target="_blank">Map</a>)
      </address>
    </div >
  </section>
  <section class="controls">
    <a class="button" href="<%= url %>.html">View more details</a>
  </section>
</section>
