<td><%= provider_number %></td>
<td><%= name %></td>
<td><%= city %></td>
<td><a href="/<%= url %>">Data (2015)</a></td>
<% if (has_old_url) { %>
  <td><a href="/2014/<%= old_url %>">Data (2014)</a></td>
<% } else { %>
  <td></td>
<% } %>
