<section class="hosp-information">
  <header>
    fadsfasfas
    <input type='checkbox' class='hospital-selector' data-id="<%= _id %>">
    <h4 class="desktop hide">
      <a href="<%= url %>.html" class="hospital-title"><%= name %></a>
    </h4>
  </header>
  <section class="information">
    <% if(showDistance){%><div class="value">
      Distance: <%= distance %> miles
    </div><%}%>
    <div class="value"><%= type %></div>
    <% if (hasEmergencyServices) { %><div class="value-header">
      Has Emergency Services
    </div><% } %>
    <div class="value">
      <%= phone_number %>
    </div>
    <address>
      <div class="value"><%= address %></div>
      <div class="value"><%= city %>, TX <%= zipcode %></div>
    </address>
  </section>
</section>
