<td data-title="Name"><a href="/<%= url %>"><%= name %></a></td>
<td data-title="City"><%= city %></td>
<td data-title="Provider ID"><%= provider_number %></td>
<td><a href="/<%= url %>">Data (2013)</a></td>
<% if (hasOldUrl) { %>
  <td><a href="/2012/<%= old_url %>">Data (2012)</a></td>
<% } else { %>
  <td></td>
<% } %>
