<td data-title='Compare'><input type='checkbox' class='hospital-selector' data-id="<%= _id %>"></td>
<td data-title='Hospital Name'><a href="<%= url %>.html"><%= name %></a></td>
<% if(showDistance){%><td data-title='Distance'><%= distance %> miles</td><%}%>
<td data-title='Phone Number'><%= phone_number %></td>
<td data-title='Hospital Type'><%= type %></td>
<td data-title='Emergency Services'><%= emergency_services %></td>