<td><a href="/<%= url %>"><%= name %></a></td>
<td><%= city %></td>
<td><%= provider_number %></td>
<td><a href="/<%= url %>">Data (2013)</a></td>
<% if (hasOldUrl) { %>
  <td><a href="/2014/<%= old_url %>">Data (2012)</a></td>
<% } else { %>
  <td></td>
<% } %>
