<section class="hosp-information">
  <header>
    <input type='checkbox' class='hospital-selector' data-id="<%= _id %>">
    <h4 class="mobile">
      <%= name %>
    </h4>
    <h4 class="desktop">
      <a href="<%= url %>.html" class="hospital-title"><%= name %></a>
    </h4>
  </header>
  <section class="information">
    <% if(showDistance){%><div class="value">
      Distance: <%= distance %> miles
    </div><%}%>
    <div class="value"><%= type %></div>
    <% if (hasEmergencyServices) { %><div class="value-header">
      Has Emergency Services
    </div><% } %>
    <div class="value">
      <a href="tel:+1<%= phone_number %>"><%= phone_number %></a>
    </div>
    <address>
      <div class="value"><%= address %></div>
      <div class="value">
        <%= city %>, TX <%= zipcode %>
        (<a href="<%= linkToMap(address, city, zipcode) %>" target="_blank">Map</a>).
      </div>
    </address>
  </section>
  <section class="controls mobile">
    <a class="button" href="<%= url %>.html">View more details</a>
  </section>
</section>
