---
js: /js/hospital.js
---
<header class="main-header content-block">
  <h2><%= locals[:name] %></h2>
  <hr>
</header>

<div class="content-block">
  <div id="hospital-map" class="hospital-map"></div>
</div>

<div class="row">
  <dl class="content-block">
    <div class="hospital-span">
      <dt>Address</dt>
      <dd>
        <address>
          <%= locals[:address] %></br>
          <%= "#{locals[:city]}, TX #{locals[:zipcode]}"%>
        </address>
          (<a href="" id="address" target="_blank">Map</a>).
        </a>
      </dd>
    </div>
    <div class="hospital-span">
      <dt>Phone</dt>
      <dd><a href="tel:+1<%= locals[:phone_number] %>"><%= locals[:phone_number] %></a></dd>
    </div>
    <div class="hospital-span">
      <dt>Hospital type</dt>
      <dd><%= locals[:type] %></dd>
    </div>
    <div class="hospital-span">
      <dt>Emergency services</dt>
      <dd><%= bool_to_str locals[:emergency_services] %></dd>
    </div>
    <div class="hospital-span">
      <dt>Ownership</dt>
      <dd><%= locals[:hospital_ownership] %></dd>
    </div>
  </dl>
</div>

<header class="section-header content-block">
  <h3>Emergency Care</h3>
</header>

<div class="prose content-block">
  <p>These indicators show how long you could expect to wait in a selected hospital's emergency room before seeing a health care professional, being admitted to the hospital or being sent home. Hospitals report the data from medical records, and the data is audited and verified by the Centers for Medicare and Medicaid Services. Learn more about the data and other measures of timely and effective hospital care at <a href="http://www.medicare.gov/hospitalcompare/Data/Measures.html">Medicare.gov</a>.</p>
</div>

<header class="sub-section-header content-block">
  <h4>Average wait time</h4>
</header>

<div class="content-block">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th><%= locals[:name] %></th>
        <th>Texas</th>
        <th>National</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Average wait time">Before being seen by a healthcare professional</td>
        <td data-title="<%= locals[:name] %>"><%= format_time locals[:op_20] %></td>
        <td data-title="Texas"><%= format_time data.state['door_to_diagnostic'] %></td>
        <td data-title="National"><%= format_time data.national['door_to_diagnostic'] %></td>
      </tr>
      <tr>
        <td data-title="Average wait time">Before being admited to the hospital</td>
        <td data-title="<%= locals[:name] %>"><%= format_time locals[:ed_1b] %></td>
        <td data-title="Texas"><%= format_time data.state['ed1'] %></td>
        <td data-title="National"><%= format_time data.national['ed1'] %></td>
      </tr>
      <tr>
        <td data-title="Average wait time">Before being sent home</td>
        <td data-title="<%= locals[:name] %>"><%= format_time locals[:op_18b] %></td>
        <td data-title="Texas"><%= format_time data.state['op18'] %></td>
        <td data-title="National"><%= format_time data.national['op18'] %></td>
      </tr>
    </tbody>
  </table>
</div>

<header class="section-header content-block">
  <h3>Clinical Care</h3>
</header>

<div class="prose content-block">
  <p>The quality of a hospital's clinical care practices can impact how often patients experience surgical complications or acquire infections. These indicators show how the hospitals' rates of surgical complications and health care-associated infections compare with national standards. The scores are risk-adjusted and account for characteristics of each hospital's patient population. The serious surgical complications score is a composite of observed-to-expected ratios for a <a href="http://www.qualityindicators.ahrq.gov/Downloads/Modules/PSI/V45/TechSpecs/PSI%2090%20Patient%20Safety%20for%20Selected%20Indicators.pdf">list</a> of common surgical complications determined by the Agency for Healthcare Research and Quality. The number of health care-associated infections is measured by a standardized infection ratio, which shows the number of infections relative to a national benchmark based on data reported to the National Healthcare Safety Network. Find more information on how CMS measures rates of <a href="http://www.medicare.gov/hospitalcompare/Data/Serious-Complications.html">surgical complications</a>, and <a href="http://www.medicare.gov/hospitalcompare/Data/Healthcare-Associated-Infections.html">health care-associated infections</a>.</p>
</div>

<header class="sub-section-header content-block">
  <h4>Surgical complications</h4>
</header>

<div class="content-block">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>National Benchmark</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Serious complications</td>
        <td><%= locals[:serious_complications] %></td>
        <td><%= format_str data.national['serious_complications'] %></td>
      </tr>
      <tr>
        <td>Deaths among patients with serious treatable...</td>
        <td><%= locals[:death_from_serious_complications] %></td>
        <td><%= format_str data.national['death_from_serious_complications'] %></td>
      </tr>
    </tbody>
  </table>
</div>

<header class="section-header content-block">
  <h3>Patient Outcomes</h3>
</header>

<div class="prose content-block">
  <p>These indicators show how often patients who are treated for serious, common conditions return to the hospital within 30 days or died. The Centers for Medicare and Medicaid Services calculates the rates using Medicare claims submitted by hospitals and patient-eligibility information. The rates are risk-adjusted and take into account characteristics of each patient — like age, medical history, and other diseases or conditions the patient had before entering the hospital — that could make readmission or death more likely regardless of the quality of care delivered by the hospital. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/30-day-measures.html">Medicare.gov</a>.</p>
</div>

<header class="sub-section-header content-block">
  <h4>30-day rate of unplanned readmissions</h4>
</header>

<div class="content-block">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Texas General Hospital</th>
        <th>U.S. National Ratio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rate of readmission for heart attack patients</td>
        <td><%= format_percentage locals[:readm_30_ha]%></td>
        <td><%= format_percentage data.national["readmission_heart_attack"] %></td>
      </tr>
      <tr>
        <td>Rate of readmission for heart failure patients</td>
        <td><%= format_percentage locals[:readm_30_hf]%></td>
        <td><%= format_percentage data.national["readmission_heart_failure"] %></td>
      </tr>
      <tr>
        <td>Rate of readmission for pneumonia patients</td>
        <td><%= format_percentage locals[:readm_30_pn]%></td>
        <td><%= format_percentage data.national["readmission_pneumonia"] %></td>
      </tr>
      <tr>
        <td>Rate of readmission after hip/knee surgery</td>
        <td><%= format_percentage locals[:readm_30_hip_knee]%></td>
        <td><%= format_percentage data.national["readmission_hip_or_knee"] %></td>
      </tr>
    </tbody>
  </table>
</div>


<header class="sub-section-header content-block">
  <h4>Death rates</h4>
</header>

<div class="content-block">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Texas General Hospital</th>
        <th>U.S. National Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>For heart attack patients</td>
        <td><%= format_percentage locals[:mort_30_ami_performance_rate] %></td>
        <td>PENDING</td>
      </tr>
      <tr>
        <td>For heart failure patients</td>
        <td><%= format_percentage locals[:mort_30_hf_performance_rate] %></td>
        <td>PENDING</td>
      </tr>
      <tr>
        <td>For pneumonia patients</td>
        <td><%= format_percentage locals[:mort_30_pn_performance_rate] %></td>
        <td>PENDING</td>
      </tr>
    </tbody>
  </table>
</div>

<header class="section-header content-block">
  <h3>Patient Experience</h3>
</header>

<div class="prose content-block">
  <p>These indicators show how patients felt about their hospital experience, including how well hospital workers communicated with them and whether they would recommend the hospital. This data comes from a standardized survey created by the Centers for Medicare and Medicaid Services and the Agency for Healthcare Research and Quality. The survey has been used since 2006 to help consumers compare the quality of care between hospitals. The surveys are taken by trained administrators at participating hospitals, analyzed and adjusted by CMS to account for differences in hospitals' patient mix and other factors. Learn more information on the data at <a href="http://www.medicare.gov/hospitalcompare/Data/Overview.html">Medicare.gov</a>.</p>
</div>

<div class="content-block">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Percent of patients surveyed who...</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gave the hospital a score of "9" or "10" on a scale from 0 (low) to 10 (high)</td>
        <td><%= locals[:h_hsp_rating_9_10] %></td>
      </tr>
      <tr>
        <td>Would definitely recommend the hospital</td>
        <td><%= locals[:h_recmnd_dy] %></td>
      </tr>
      <tr>
        <td>Reported that their doctors "always" communicated well</td>
        <td><%= locals[:h_comp_2_a_p] %></td>
      </tr>
      <tr>
        <td>Reported that their nurses "always" communicated well</td>
        <td><%= locals[:h_comp_1_a_p] %></td>
      </tr>
      <tr>
        <td>Reported that they "always" received help as soon as they wanted</td>
        <td><%= locals[:h_comp_3_a_p] %></td>
      </tr>
      <tr>
        <td>Reported that their room and bathroom were "always" clean</td>
        <td><%= locals[:h_clean_hsp_a_p] %></td>
      </tr>
      <tr>
        <td>Reported that the area around their room was "always" quiet at night</td>
        <td><%= locals[:h_quiet_hsp_a_p] %></td>
      </tr>
    </tbody>
  </table>
</div>

<% content_for :script do %>
<script>
  var map_id = 'texastribune.ili2i87h';

  var map = L.mapbox.map('hospital-map', map_id, {
    tileLayer: {
      detectRetina: true
    }
  });

  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();

  var geoJson = [{
    type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [<%= locals[:longitude] %>, <%= locals[:latitude] %>]
      },
      properties: {
        'description': '<%= "#{locals[:city]}, TX #{locals[:zipcode]}"%>',
        'id': '<%= locals[:id] %>',
        'title': "<%= locals[:name] %>",
        'marker-color': '#fc4353',
        'marker-size': 'large',
        'marker-symbol': 'hospital'
      }
  }];

  var featureLayer = L.mapbox.featureLayer().addTo(map);
  featureLayer.setGeoJSON(geoJson);
  map.fitBounds(featureLayer.getBounds(), {
    maxZoom: 12
  });

  var fullAddress = "<%= locals[:address] %>" + "<%= "#{locals[:city]}, TX #{locals[:zipcode]}"%>";

  $('#address').prop('href', 'http://maps.google.com/maps?q=' + encodeURIComponent(fullAddress));
</script>
<% end -%>